
button{
    display: none !important;
}





/* .btn{   
    display: none;
    font-size: 20px;
font-weight: bolder;
background-color: #F21651;
margin-top: 20px;
margin-left: 25%;

align-self: center;

border-radius: 20px;
text-align: center;
color:#fff;
width: 50%;
position: center;
 } */
